<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>App</title>
</head>
<body>
    <div class="split left">
        <div class="centered">
            <img src="../static/products/prod2.jpg" alt="Product Image">
            <form method="post" class="review-form">
                <textarea name="text" placeholder="Write your review here..."></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="split right">
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="d-flex flex-column col-md-8">
                    <div class="info">
                        <p class="positive-label">Positive Reviews: <span>{{ data.positive }}</span></p>
                        <p class="negative-label">Negative Reviews: <span>{{ data.negative }}</span></p>
                    </div>
                    <div class="comments-section bg-white p-3">
                        {% for review in data.reviews %}
                        <div class="comment {% if review.sentiment == 'positive' %}positive-comment{% else %}negative-comment{% endif %}">
                            <p>{{ review.text }}</p>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
